.text_scrolling{
	margin-bottom: 20px;
	:global{
		.gNeMwR{
			border-bottom: none;
		}
	};	
}
.single{
	padding-bottom: 20px;
	cursor: pointer;
	img{
		width: 100%;
	}
	.mask{
		display: flex;
		width: calc(~'100% - 24px');
	    height: calc(~'100% - 20px');
	    background-color: #fff;
	    position: absolute;
	    left: 12px;
	    top: 0;
	    z-index: -1;
	    .active_card{
	    	align-self: center;
		    display: inline-block;
		    text-align: center;
		    width: 100%;
		    font-size: 40px;
		    font-weight: 600;
	    }
	}
	&:hover{
		.mask{
			z-index: 1;    
		}	    	
	};
}
