.second{
	:global{
		.ant-list-split{
			.ant-list-item{
				&:hover{
					background: #F0FFFF;
				};
				&:last-child{
					border-bottom: 1px solid #e8e8e8;
				}
			}
		}	
		.ant-list * {
		  color: #5F9EA0;
		}
	}
	.date{
		font-weight: 600;
    padding-top: 10px;
    text-align: right;
	}
	.rotate_image{
		padding: 30px 10px;
		text-align: right;
		img{
			width: 40px;
			cursor: pointer;
		}
	}
}
