.second{
	:global{
		.ant-list-split{
			.ant-list-item{
				&:hover{
					background: #FFF5EE;
				};
				&:last-child{
					border-bottom: 1px solid #e8e8e8;
				}
				.ant-list-item-content-single{
					width: 100%;
				}			
			}
		}	
		.ant-list * {
		 // color: #5F9EA0;
		}
	}
	.article_content{
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline-block;
		white-space: nowrap;
		width: 100%;
	}
	.article_title{		
    padding-top: 10px;
    text-align: right;
    padding-right: 10px;  
    span{
    	cursor: pointer;
    	color: #FF8C00;
    	font-weight: 600;
    }
	}
	.back{
		cursor: pointer;
		font-size: 16px;
		color: #FF8C00;
		:global{
			.anticon-left{
				margin-right: 5px;
			}			
		};
	}
	.title{
		padding: 20px 0;
	}
	.text_col{
		padding: 3px 0;
	}
	.rotate_image{
		padding: 30px 10px;
		text-align: right;
		img{
			width: 40px;
			cursor: pointer;
		}
	}
}
