.second{
	:global{
		.ant-list-split{
			min-height: 574px;
			.ant-list-item{
				padding-top: 8px;
				padding-bottom: 8px;
				&:hover{
					background: #FFF5EE;
				};
				&:last-child{
					border-bottom: 1px solid #e8e8e8;
				}
				.ant-list-item-content-single{
					width: 100%;
				}			
			}
		}	
		.ant-list * {
		 font-size: 12px;
		}
	}
	.theme_title{
		h2{
	    color: #FF8C00;
	    font-weight: 600;
		}
	}
	.article_content{
		text-overflow: ellipsis;
		overflow: hidden;
		display: inline-block;
		white-space: nowrap;
		width: 100%;
	}
	.article_title{		
    text-align: right;
    padding-right: 10px;  
    span{
    	cursor: pointer;
    	color: #FF8C00;
    	font-weight: 600;
    }
	}
	.back_col{
		padding: 20px 0px;
		.back{
			cursor: pointer;
			font-size: 16px;
			color: #FF8C00;
			:global{
				.anticon-left{
					margin-right: 5px;
				}			
			};
		}
	}	
	.detail_content{
		overflow-y: auto;
		overflow-x: hidden;
    height: 574px;
    .title{
			padding: 20px 0;
			h3{
				font-weight: 600;
			}
		}
		.text_col{
			padding: 3px 0;
		}
	}	
	.pagination{
		text-align: right;
		padding-bottom: 20px;
		padding-top: 8px;
		:global{
			.ant-pagination-simple .ant-pagination-simple-pager input{
				width: 30px;
				padding: 0; 
			}
		};
	}
	.rotate_image{
		padding: 20px 10px;
		text-align: right;
		img{
			width: 40px;
			cursor: pointer;
		}
	}
}
